<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption font-green-sharp">
          	<%= link_to teleplays_path do %>
  	          <i class="icon-screen-desktop font-green-sharp m-l-4"></i>
  	          <span class="caption-subject bold uppercase"> 电视剧</span>
            <% end %>
          </div>
        </div>
        <div class="portlet-body">
        	<div style="height: 580px;">
      			<ul class="wy-pro-list">
      				<% @teleplays.each do |teleplay| %>
      				<li>
                <%= link_to teleplay_path(teleplay) do %>
                  <img src="<%= teleplay.img_url %>" style="width: 180px; height: 200px;">
                  <div class="wrapper-listTitle">
                    <div class="mod-listTitle">
                      <p class="video_rb">
                        <span class="icon-vInfo"><%= teleplay.duration %></span>
                      </p>
                    </div>
                  </div>
                  <div class="text">
                  	<h5><%= teleplay.title.truncate(12) %></h5>
                    <p class="overflow-hidden">主演：<%= teleplay.actors_html %></p>
                  </div>
                <% end %>
      				</li>
      				<% end %>
      			</ul>
          </div>
          <div class="paginate-center">
            <%= paginate @teleplays %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>